* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppin", sans-serif;
}
.contact-body {
  margin-top: 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.donateform {
  display: flex;
  flex-direction: column;
  border: 4px solid;
  background: rgb(116 116 165 / 37%);
  width: 37rem;
  align-items: center;
  height: auto;
  position: absolute;
  left: 40%;
  border-radius: 31px;
}

// form {
//   // display: flex;
//   // flex-direction: column;
//   // border: 2px solid;
//   // padding: 8px;
//   // background: #b4b0b585;
// }

.form-file {
  min-height: 90px;
  padding: 8px 8px;
  // margin: 8px 0px;
  margin-left: 42px;
  /* border-radius: 20px; */
  font-family: "Lora", serif;
  label {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    margin-top: 0px;
    font-family: "Lora", serif;
  }
  input {
    width: 32vw;
    font-size: 20px;
    margin-top: 16px;
  }
}
.form-group {
  // margin: 0px 0px;
  margin-left: 42px;
  padding: 0px;
}

.form-group * {
  min-height: 48px;
  padding: 8px 8px;
  margin: 8px 0px;
  border-radius: 20px;
  font-family: "Lora", serif;
}

.form-group label {
  display: flex;
  /* align-items: center; */
  width: 100%;
  /* margin: 6px 179px; */
  font-size: 21px;
  text-align: center;
  align-items: center;
  color: white;
  /* text-transform: uppercase; */
  margin-top: 1px;
}

form .form-group input {
  width: 30vw;
  font-size: 13px;
  margin-top: 0px;
  border: 2px solid rgb(0 21 41);
}
.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #673ab7;
}
.form-group textarea {
  width: 30vw;
  border: 4px solid rgb(11 10 12 / 57%);
  min-height: 108px;
  resize: none;
  border-radius: 24px;
  padding: 8px;
  margin-top: 0px;
}

.BUTTON {
  width: 160px;
  border-radius: 22px;
  height: 48px;
  background: #673ab785;
  color: #f5f5f5;
  font-size: 17px;
  bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  border: 0;
  position: relative;
  left: calc(54% - 100px);
  // margin: 32px 8px;
  cursor: pointer;
}
BUTTON:hover {
  background: rgb(190, 183, 154);
}
