@media screen and (min-width: 260px) and (max-width: 1080px) {
  .title {
    gap: 1rem;
    h1 {
      font-size: 2rem;
    }
    p {
      padding: 0 1vw;
    }
  }
}

.contents {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10vw;
  gap: 2vw;
  margin-top: 8rem;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vw;
    margin: 0px 16px;
    padding: 0 3vw;
    border: 2px solid red;
    img {
      height: 8.8rem;
      // height: 20rem;
      width: 8rem;
      object-fit: cover;
      animation: ease-in;
      transition: 0.8s ease-in-out;
      &:hover {
        transform: scale(1.2);
      }
    }
    h1 {
      // font-size: 40px;
      color: #fc4958;
      margin: 10px;
    }
    p {
      text-align: center;
      line-height: 4rem;
      font-size: 50px;
      letter-spacing: 0.1rem;
    }
    button {
      padding: 0.6rem 3rem;
      letter-spacing: 0.2rem;
      border-radius: 2rem;
      font-size: 1.1rem;
      margin: 8px 0px;
      border: none;
      color: white;
      background-color: #fc4958;
      transition: 0.3s ease-in-out;
      &:hover {
        background-color: #f9c74f;
      }
    }
  }
}
@media screen and (min-width: 260px) and (max-width: 1080px) {
  // margin : 2rem;
  .contents {
    grid-template-columns: 1fr;
  }
}
