.loginform {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

  .login {
    width: 360px;
    color: #ffffff;
    background: #2f3032;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 10px;
    padding: 2rem 1rem 2rem 1rem;
    text-align: center;

    .form-title {
      font-size: 32px;
      font-weight: 600;
      margin: 0 0 24px 0;
    }

    .form-element {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      margin-bottom: 32px;
      .form-label {
        padding: 4px 8px;
        margin-bottom: 8px;
      }
      input {
        background: #2f3032;
        color: #ffffff;
        padding: 8px 4px;
        width: 100%;
        font-size: 18px;
        border-top: none;
        border-left: none;
        border-right: none;

        &:focus {
          outline: none;
        }
      }
    }
  }

  button {
    background: #1877f2;
    border: 1px solid #1877f2;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    width: 40%;
  }
}
