// .app {
// }

.site-layout-background {
  background: #fff;
}

.nav-bar-class {
  display: flex;
  flex-direction: row;
  margin: 4px 32px;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 64px;
  }
  .logo-text {
    font-size: 28px;
    color: #fff;
    margin-left: 16px;
  }
}

.logo-img {
  height: 50px;
}

.main-header {
  background-color: #1890ff !important;
}
